{% extends 'mails/base.html' %}

{% block content %}
    {% load static %}


    <div class="container">
        <div class="row" style="margin-bottom: -20px">
            <div class="col-6">
                <a href="{% url 'new' %}" type="button" class="btn btn-dark">رسالة جديدة</a>
            </div>
            <div class="col-6" dir="ltr">
                <nav aria-label="...">
                    <ul class="pagination">

                        <li class="page-item">
                            {% if Attachment.has_previous %}
                                <a class="page-link" href="?page={{ Attachment.previous_page_number }}" tabindex="-1"
                                   aria-disabled="true">السابق</a>
                            {% else %}
                                <a class="page-link disabled" tabindex="-1" aria-disabled="true">السابق</a>
                            {% endif %}
                        </li>



                        {% for n in Attachment.paginator.page_range %}
                            {% if Attachment.number == n %}
                                <li class="page-item active">
                                    <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                </li>
                            {% elif n > Attachment.number|add:'-3' and n < Attachment.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                            {% endif %}
                        {% endfor %}



                        <li class="page-item">
                            {% if Attachment.has_next %}
                                <a class="page-link" href="?page={{ Attachment.next_page_number }}">التالي</a>
                            {% else %}
                                <a class="page-link disabled" href="#">التالي</a>
                            {% endif %}
                        </li>


                    </ul>
                </nav>
            </div>
        </div>

        <table class="table mt-3" style="vertical-align: middle;">
            <thead class="table-dark">
            <tr>


                <th width="10%" scope="col">#</th>
                <th width="50%" scope="col">المرفق</th>
                <th width="30%" scope="col">التاريخ</th>
                <th width="30%" scope="col">من</th>
            </tr>
            </thead>
            <tbody>
            {% for Attach in Attachment %}

                <tr class="hcolum">
                    <td><img src="../../Attachment{{ Attach.Attachment.url }}" onerror="this.src='../../img/file.jpg';"
                             style="height: 30px"></td>
                    <td><a href="../../Attachment{{ Attach.Attachment.url }}">{{ Attach.Attachment }}</a></td>
                    <td>{{ Attach.Date | date:"d M Y - h:m a" }}</td>
                    <td>{{ Attach.Mailfrom }}</td>

                </tr>

            {% endfor %}
            </tbody>
        </table>


    </div>


{% endblock %}