{% extends 'mails/base.html' %}

{% block content %}
    {% load static %}


    <div class="container">
    <div class="row" style="margin-bottom: -20px">
        <div class="col-6">
            <a href="{% url 'new' %}" type="button" class="btn btn-dark">رسالة جديدة</a>
        </div>
        <div class="col-6" dir="ltr">
            <nav aria-label="...">
                <ul class="pagination">

                    <li class="page-item">
                        {% if mails.has_previous %}
                            <a class="page-link" href="?page={{ mails.previous_page_number }}" tabindex="-1"
                               aria-disabled="true">السابق</a>
                        {% else %}
                            <a class="page-link disabled" tabindex="-1" aria-disabled="true">السابق</a>
                        {% endif %}
                    </li>



                    {% for n in mails.paginator.page_range %}
                        {% if mails.number == n %}
                            <li class="page-item active">
                                <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                            </li>
                        {% elif n > mails.number|add:'-3' and n < mails.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}



                    <li class="page-item">
                        {% if mails.has_next %}
                            <a class="page-link" href="?page={{ mails.next_page_number }}">التالي</a>
                        {% else %}
                            <a class="page-link disabled" href="#">التالي</a>
                        {% endif %}
                    </li>


                </ul>
            </nav>
        </div>
    </div>




        <table class="table mt-3">
            <thead class="table-dark">
            <tr>

                <th width="20%" scope="col">المرسل</th>
                <th width="60%" scope="col">العنوان</th>
                <th width="20%" scope="col">التاريخ</th>
            </tr>
            </thead>
            <tbody>
            {% for mail in mails %}
                {% if mail.Seen == 1 %}
                    <tr class="hcolum" style="background: #e3e3e3">
                        <td>{{ mail.From }}</td>
                        <td><a href="../mail/{{ mail.id }}/"
                               style="text-decoration: none; font-weight: bold; color: #000">{{ mail.Sub }}</a></td>
                        <td>{{ mail.Date | date:"d M Y - h:m a" }}</td>
                    </tr>
                {% else %}
                    <tr class="hcolum">
                        <td>{{ mail.From }}</td>
                        <td><a href="../mail/{{ mail.id }}/"
                               style="text-decoration: none; font-weight: bold; color: #000">{{ mail.Sub }}</a></td>
                        <td>{{ mail.Date | date:"d M Y - h:m a" }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


    </div>


{% endblock %}